{% extends "base.html" %}

{% block content %}
<h1>Welcome to My Web Application</h1>
  <p>Use the navigation sidebar to search for items, view previous results, or get help.</p>

<h1>Advanced Search</h1>
<p>Search for code files in the database:</p>
<form action="{{ url_for('search') }}" method="GET">
    <label for="packages">Packages:</label>
    <input type="text" name="packages">
    <label for="content">Content:</label>
    <input type="text" name="content"><br>
    <button type="submit">Search</button>
</form>
{% endblock %}

   
   
