{% extends "base.html" %}

{% block content %}
<h1>Welcome to My Web Application</h1>
  <p>Use the navigation sidebar to search for items, view previous results, or get help.</p>

<h1>Advanced Search</h1>
<p>Search for code files in the database:</p>
<form action="{{ url_for('search') }}" method="GET">
    <label for="packages">Packages:</label>
    <input type="text" name="packages">
    <label for="content">Content:</label>
    <input type="text" name="content"><br>
    <button type="submit">Search</button>
</form>
<h1>Upload New File</h1>
<form method="post" enctype="multipart/form-data">
  <label for="project">Project</label>
  <input type="text" name="project">
  <label for="package">Package</label>
  <input type="text" name="package">
  <label for="files">Upload Folder</label>
  <input type="file" name="files" multiple="" webkitdirectory="" directory="">
  <label for="file">Upload File</label>
  <input type="file" name="file">
  <input type="submit" value="Upload">
</form>
<h1>Uploaded Files:</h1>
<ul>
  {% for filename, length in file_names.items() %}
  <li>{{ filename }} ({{ length }})</li>
  {% endfor %}  
</ul>

{% endblock %}

   
   
